@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

/* base rule  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: Y proximity; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* theme */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
  --h1-color:rgb(67, 67, 67);
}

/* layout */

section {
  scroll-snap-align: center;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}

/* .section-about .container:first-child,
.section-blog .container:first-child,
.section-course .container:first-child,
.section-contact--homepage .container:first-child,
.section-why--choose .container:first-child,
.section-contact .container:first-child {
  padding: 6.4rem 0 2.4rem 0;
} */

/* :is(
    .section-about,
    .section-blog,
    .section-contact,
    .section-course,
    .section-why--choose,
    .section-contact--homepage
  )
  .container:first-child {
  padding: 6.4rem 2.4rem 2.4rem 2.4rem;
} */

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* module / reusable  */

.section-common-heading {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.section-common-subheading {
  color: var(--heading-color);
}

.section-common--title {
  font-size: 2rem;
  margin: 2.4rem 0 1.2rem 0;
}

.fa-solid {
  padding: 2.4rem;
  background-color: var(--supporting-color);
  font-size: 2.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--hero-heading-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
/* .new-logo-1{
  display: none;
}
.new-logo-2{
  display: none;
} */
/* states  */

.btn:hover {
  background-color: var(--bnt-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}

/***** navbar Section *****/
.navbar-Logo h1{
 font-size: xx-large;
 text-align: center;
 

}
.new-logo{
  display: none;
}

 .navbar-Logo {
  background-color: var(--bg-color);
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--bg-color);
  
 }


.navbar-Logo .logo-part-1,.logo-part-2{
  width: 30%;
  background-color: var(--h1-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebf3fe;
  font-family: "Foldit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1rem;
 
 }
 .navbar-Logo .logo-part-1::before{
  position: absolute;
  content: '';
  right: 0;
  width: 0;
  height: 0;
  border-left:  50px solid transparent;
  border-right: 50px solid var(--bg-color);
  border-bottom: 80px solid transparent;
 }

 .navbar-Logo .logo-part-2::before{
  position: absolute;
  content: '';
  left: 0;
  width: 0;
  height: 0;
  border-left:  50px solid var(--bg-color);
  border-right: 50px solid transparent;
  border-bottom: 80px solid transparent;
 }
 .logo-part-1{
  position: relative;
  border: none;
}
.logo-part-2{
  position: relative;
  border: none;
}
.navbar-Logo .nav-items-container{
  display: flex;

  justify-content: center;
  align-items: center;
  /* margin-right:4rem; */

}
.navbar-Logo .nav-items-container li{
  margin-right: 4rem;
  position: relative;
}
/* .navbar-Logo .nav-items-container li a::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -0.3rem;
  width: 0;
  height: 2px;
  transition: .3s;
  background-color: var(--h1-color);
  border-bottom: .3rem solid var(--h1-color);
}
.nav-items-container li a::after:hover{
  width: 100%;
} */
.navbar-Logo li a {
  
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 0%;
    border-bottom: 0.2rem solid var(--h1-color);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }
}

& li a:hover:after {
  width: 100%;
}


/* hero section */
main{
  position: relative;
  background-image: linear-gradient(to bottom, #585858, #616161, #6a6a6a, #737373, #7c7c7c, #878787, #939393, #9f9f9f, #b1b1b1, #c3c3c3, #d5d5d5, #e8e8e8);
}
.custom-shape-divider-bottom-1696162272 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696162272 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 12rem;
}

.custom-shape-divider-bottom-1696162272 .shape-fill {
  fill: #ffffff;
}
main{
  width: 100%;
  height: 120vh;
}
.grid-two--cols{
  display: grid;
  width: 100%;
  height:100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 6.4rem;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-bottom: 5rem;
  
}

.grid-two--cols .hero-sub-section-1{
  width: 50%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: var(--bg-color);
  margin-left: 10rem;
  width: 50%;
}
.grid-two--cols .hero-sub-section-2{
  display: flex;
  /* position: absolute; */
  align-items: center;
  /* justify-content: center; */
  /* top: 50%; */
  left: 50%;
  margin-left: 10rem;
  /* width: 50%; */
  height: 100%;
  filter: opacity(.8);
}
.grid-two--cols .hero-sub-section-2 img{
  border-radius: 50%;
  width: 70%;
  /* height: 70%; */
}
.hero-sub-section-1 .hero-sub-section-1-1{
  margin-top: 25rem;
  display: grid;
  /* column-gap: 200px; */
  row-gap: 20px;
  & h2{
   font-weight: bolder;
   font-size: 50px;
   color: var(--bg-color);
   line-height: 6rem;
  
  }
  & p{
    color: var(--bg-color);
    font-size: 20px;
    /* font-weight: 600; */
  }

}
.uppercase{
  text-transform: uppercase;
  font-weight: 500;
}
.btn1 {
  width: 200px;
  margin-top: 3rem;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: var(--bg-color);
  transition: opacity 3s ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn1::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: opacity 3s ease-in-out;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn1::before {
  content: "";
  background: linear-gradient(
    45deg,
    #95dddd, #55b6f3, #35f9a4, #7488e2,
    #00FFD5, #002BFF, #2beadd, #2abfff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 40s linear infinite;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
/* hover */
.btn1::before {
  opacity: 1;
}
.btn1:hover:after {
  background: transparent;
  transition: .3s;
}
.btn1:hover {
  transition: .3s;
  color: #000;
  font-weight: bold;
}
/***** about Section *****/

.section-about .grid {
  gap: 6.4rem;
}

.section-about .about-div {
  text-align: center;
}

.section-about img {
  padding: 2.4rem;
  background-color: rgb(221, 221, 221);
  width: 15rem;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.about-div .icon{
  width: 5rem;
  margin-left: 13rem;
}

.icon:hover > img {
  transform: rotate(30deg);
  /* rotate: 360deg; */
  background: linear-gradient(to right, #636363, #d5d5d5);
}

/***** End about Section *****/

/***** course Section *****/

.section-course {
  background-color: var(--bg-color);
}

.section-course .grid {
  gap: 3.2rem;
}

.section-course .course-div {
  padding: 3.2rem;
}

.section-course .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid {
  color: #68bf9b;
  background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-solid {
  color: #ff8b52;
  background-color: #fbebe8;
}

.course-div:nth-child(4) .icon .fa-solid {
  color: #183d3d;
  background-color: #ccf7f7;
}

.course-div:nth-child(5) .icon .fa-solid {
  color: #d988b9;
  background-color: rgb(247, 223, 238);
}

.course-div:nth-child(6) .icon .fa-solid {
  color: #ff9b50;
  background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid {
  color: #1450a3;
  background-color: #dce9fa;
}

/***** End course Section *****/

/*****  why choose  Section *****/

.section-why--choose .grid {
  gap: 9.6rem;
}

.why-choose--div {
  margin-top: 3.2rem;
}

.section-why--choose .text-align--right .why-choose--div {
  /* text-align: right; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
}

.common-text--highlight {
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.choose-center--div img {
  width: 90%;
  height: auto;
}

.choose-center--div,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.choose-center--div figure:before,
.choose-center--div figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: var(--main-color);
  width: 45rem;
  /*aspect-ratio: 1;
  */
  height: 45rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}

.choose-center--div figure::before {
  animation: circle 5s linear infinite;
  -webkit-animation: circle 5s linear infinite;
}

@keyframes circle {
  0% {
    background-color: #393939;
  }
  25% {
    background-color: #707070;
  }
  50% {
    background-color: #a1a1a1;
  }
  75% {
    background-color: #c1c1c1;
  }
  100% {
    background-color: #393939;
  }
}

.choose-center--div figure::after {
  width: 50rem;
  height: 50rem;
  background-color: transparent;
  z-index: -2;
  border: 0.5rem solid var(--supporting-color);
}

/***** End  why choose  Section *****/
/***** blog Section *****/

.section-blog {
  background-color: var(--bg-color);

  & .grid {
    gap: 6.4rem;
  }

  & .blog {
    box-shadow: var(--btn-box-shadow);
    transition: scale 0.3s linear;

    -webkit-transition: scale 0.3s linear;
    -moz-transition: scale 0.3s linear;
    -ms-transition: scale 0.3s linear;
    -o-transition: scale 0.3s linear;

    &:hover {
      scale: 1.1;
    }

    & .blog-content {
      padding: 1.4rem 2.4rem 2.4rem;
    }
  }

  & img {
    width: 100%;
    height: auto;
  }

  & .blog-date {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
    font-size: 1.4rem;

    & .fa-solid {
      background-color: transparent;
      padding: 0;
    }
  }

  & .section-common--title {
    margin-top: 0.8rem;
  }
}

/***** End blog Section *****/

/*****  contact home Section *****/

.section-contact--homepage {
  width: 60%;
  /* min-height: 30rem; */
  height: 530px;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 5rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  padding: 0 3.2rem;
  position: relative;
  bottom: -15rem;
  z-index: 1;
  /* margin-bottom: -15rem; */
  background-color: var(--bg-color);
  /* z-index: 1; */

  & .grid {
    align-items: center;
    gap: 6.4rem;
  }
}
.section-contact--homepage-all{
  margin-bottom: 50rem;
  display: flex;
  width: 100%;
  height: 100%;
}
.contact-title {
  font-size: 3.8rem;
  line-height: 1.2;
}

.contact-content p {
  margin: 1.2rem 0 2.4rem 0;
}
.section-contact--homepage .btn{
  display: flex;
  /* flex-direction: row; */
  transition: 1s;
  align-items: center;
  width: 8rem;
  height: 5rem;
  background-color: var(--h1-color);
  /* margin-top: 10rem; */
}
.section-contact--homepage a {
  color: var(--white-color);
  text-transform: capitalize;
  display: none;
  transition: 2s;
  transition-delay: 1s;
  width: 3rem;
  height: 1rem;
  margin-left: 20rem;
  margin-bottom: 1rem;
  
}

.section-contact--homepage .fa-solid {
  padding: 0;
  width: 2rem;
  height: 2rem;
  color: var(--white-color);
  transition: 1s;
  background-color: var(--main-color);
}
.section-contact--homepage .btn:hover > .fa-solid{
  transform: translateX(80px);
  transition: 2s;
}
.section-contact--homepage .btn:hover{
  padding-right: 150px;
  transition: .5s;
  width: 12rem;
}
.section-contact--homepage .btn a{
  transition: 2s;
  transition-delay: 1s;
}
.section-contact--homepage .btn:hover > a{
  display: block;
  margin-left: 1rem;
  transition: 2s;
  transition-delay: 2s;
  
}

.section-contact--homepage img {
  width: 40rem;
  height: 40rem;
  margin-left: 5rem;
}

/***** End  contact home Section *****/

/***** actual contact page Section *****/

.section-contact {
  & .grid {
    align-items: center;
    gap: 6.4rem;
  }
}

.mb-3 {
  margin-bottom: 3.2rem;
}

label {
  display: block;
  text-transform: capitalize;
}

.contact-content .grid {
  gap: 6.4rem;
}

input,
textarea {
  width: 100%;
  padding: 1.4rem 2.4rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.btn-submit {
  font-size: 1.8rem;
  border: none;
  text-transform: capitalize;
}

input:focus-visible,
textarea:focus-visible {
  outline: 0.1rem solid var(--bnt-hover-bg-color);
}

/***** End actual contact page Section *****/

.header2{
  position: relative;
  display: none;
}
/***** footer Section *****/

footer {
  background-color: var(--footer-bg-color);
  padding-top: 15rem;
}

footer * {
  color: var(--white-color);
}

footer .grid {
  text-align: right;
}

.footer-subheading {
  font-size: 2.2rem;
  font-weight: 700;
}

.footer-1--div p {
  margin: 1rem 0 3.2rem 0;
}

.footer-1--div {
  text-align: left;

  & .social-footer--icons {
    display: flex;
    gap: 2.4rem;

    & .fa-brands {
      width: 5rem;
      aspect-ratio: 1;
      background-color: var(--supporting-color);
      color: var(--bnt-hover-bg-color);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      /*display: grid;
      place-items: center;
      */
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s linear;

      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;

      &:hover {
        color: var(--supporting-color);
        background-color: var(--bnt-hover-bg-color);
        rotate: 360deg;
      }
    }
  }
}

/* footer .footer-1-div .footer-social--icons {
  display: flex;
  gap: 2.4rem;
}

footer .footer-1-div .fa-brands {
  font-size: 3rem;
  padding: 0;
  width: 5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

footer .footer-1-div .fa-brands:hover {
  background-color: var(--bnt-hover-bg-color);
  color: var(--supporting-color);
  cursor: pointer;
  rotate: 360deg;
} */

/***** End footer Section *****/

/***** scrollbar Section *****/

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--supporting-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--h1-color);
  border-radius: 50px;
}



/***** End scrollbar Section *****/

/*? scroll animation and scroll snap  */

/***** media queries Section *****/

/* @media (max-width: 1380px) { */
@media (width <= 1500px) {

  html {
    font-size: 56.25%;
    /* 1rem = 9px  */
  }

  

  
  .grid-two--cols .hero-sub-section-1{
    width: 50%;
    color: var(--bg-color);
    margin-left: 10rem;
    width: 450px;
  }
  .grid-two--cols .hero-sub-section-2{
    display: flex;
    /* justify-content: end; */
    align-items: center;
    margin-left: 6rem;
    width: 450px;
    filter: opacity(.8);
  }

}

@media (width <= 1300px) {

  html {
    font-size: 50%;
  }

  :is(
      .section-about,
      .section-blog,
      .section-course,
      .section-contact--homepage,
      .section-why--choose
    )
    .grid {
    gap: 6.4rem;
  }

  .header2{
    position: relative;
    display: flex;
    width: 100%;
    background-color: #000;
    height: 15rem;
  }
  .header1{
    position: relative;
    display: none;
  }
  .navbar-Logo2 h1{
    font-size: x-large;
    text-align: start;
    order: 1;
    display: flex;
    flex-direction: column;
   
   }
    .navbar-Logo2 {
     background-color: var(--bg-color);
     height: 10rem;
     display: flex;
     flex-direction: column;
     width: 100%;
     position: absolute;
     display: block;
    }
   
   .navbar-Logo2 .logo-part-1-2,.logo-part-2-2{
     width: 100%;
     background-color: var(--h1-color);
     height: 100%;
     align-items: center;
     justify-content: center;
     color: #ebf3fe;
     font-family: "Foldit", sans-serif; 
     font-optical-sizing: auto;
     font-weight: 800;
     font-style: normal;
     letter-spacing: 2rem;
     font-size: 30px;
   
    }



   .navbar-Logo2 .nav-items-container2{
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 5rem;
     background-color: var(--bg-color);
     margin-bottom: 1rem;
     align-items: center;
     justify-content: center;

   }

  .navbar-Logo .nav-items-container2 ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

   }
   .navbar-Logo2 li a {
     font-size: 12px;
     text-transform: uppercase;
     font-weight: 600;
     font-size: 1.6rem;
     display: inline-block;
     position: relative;
     margin-right: 3rem;
   
     &::after {
       content: "";
       position: absolute;
       bottom: -0.3rem;
       left: 0;
       width: 0%;
       border-bottom: 0.2rem solid var(--h1-color);
       transition: all 0.3s linear;
       -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
       -ms-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
     }
   }
   
   & li a:hover:after {
     width: 100%;
   }
   
}

@media (width <= 1150px) {
  :is(.section-course, .section-blog) .grid-four--cols {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .section-why--choose {
    & .choose-left--div {
      order: 2;
    }

    & .choose-right--div {
      order: 3;
    }

    & .choose-center--div {
      order: 1;

      & figure::before {
        width: 0;
        height: 0;
        background-color: transparent;
        padding: 0;
      }

      & figure::after {
        width: 0;
        height: 0;
        background-color: transparent;
        padding: 0;
      }
    }
  }
  main {
    height: auto;
    padding-bottom: 5rem;}

   .grid-two--cols {
      grid-template-columns: 1fr;
      display: grid;
      flex-direction: column;
      justify-content: center;
      
    
    }

  .hero-sub-section-1 {
        order: 2;
        margin-bottom: 10rem;
        width: 100%;
        justify-self: center;
      }
      
      .hero-sub-section-2 {
        margin-top: 10rem;
        justify-self: center;
        order: 1;
        width: 100%;
        margin-left: 80px;
        height: 50%;
      }

        img {
          width: 100%;
        }
      .hero-sub-section-1-1{
        width: 100%;
        height: auto;
        position: relative;
        display: block
        ;
      }  
      }
    
  



@media (width <= 998px) {
  .section-hero {
    height: auto;
    padding-bottom: 5rem;

    & .grid-two--cols {
      grid-template-columns: 1fr;

      & .section-hero--content {
        order: 2;
      }

      & .section-hero--image {
        order: 1;

        & img {
          width: 50%;
        }
      }
    }
  }

  .grid-two--cols {
    margin-right: 4rem;
    width: 90%;

  }
  .grid-two--cols .hero-sub-section-1{
    /* width: 50%; */
    color: var(--bg-color);
    margin-left: 6rem;
    width:400px;
  }
  .grid-two--cols .hero-sub-section-2{
    display: grid;
    gap: 0rem;
    justify-self: center;
    align-items: center;
    margin-left: 6rem;
    width: 400px;
    padding-left: 10rem;
    filter: opacity(.8);
  }
  .new-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--h1-color);
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ebf3fe;
    letter-spacing: 1.5rem;
    font-size: 25px;
    
    & h1{
      font-family: "Foldit", sans-serif; 
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      filter: brightness(1.5);
    }
  }
  .navbar-Logo .nav-items-container li{
    margin-right: 1rem;
    position: relative;
  }
  .nav-items-container2{
    margin-right: .1rem;
    margin-left: .1rem;

    & a{
      font-size: 9px;

    }
  }
 .navbar-Logo2 .logo-part-1-2{
    display: none;
  }

  .section-about .about-div {
    text-align: left;
  }

  footer .grid-four--cols {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    text-align: left;

    & .footer-1--div {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      margin-top: 6.4rem;
    }
  }
}

@media (width <= 768px) {
  html{
    font-size: 40%;
  }
  .grid-two--cols,
  .grid-three--cols {
    grid-template-columns: 1fr;
  }
  .grid-two--cols .hero-sub-section-1{
    /* width: 50%; */
    color: var(--bg-color);
    /* margin-left: 6rem; */
    width:300px;
    
    & .heading1{
      font-size: 40px;
      line-height: 8.5rem;
      font-weight: 900;
/*       
    }
    .header2{
      height: 20rem;
      
    }
    .navbar-Logo2{
      margin-top: 2rem;
      height: 17rem;
      margin-bottom: 2rem;
    }
    .navbar-Logo2 .container2{
      margin-top: 5rem;
    } */

  }
  main{
    width: 300px;
  }
  .grid-two--cols{
    width: 300px; 
  
  & .hero-sub-section-2{
    display: grid;
    gap: 0rem;
    justify-self: center;
    align-items: center;
    /* margin-left: 6rem; */
    width: 250px;
    padding-right: -10rem;
    filter: opacity(.8);

  }
  }

  .Navabar2 .nav-items-container2 li {
    display: flex;
    justify-content: center;
    flex-direction: column;

    & a {
      text-align: center;
    }

    & .navbar-brand {
      text-align: center;
      margin-bottom: 2.4rem;
    }
  }

  .section-hero .grid .hero-heading {
    font-size: 3.8rem;
  }

  .section-why--choose {
    & img {
      width: 30%;
    }

    & .grid {
      gap: 1.4rem;
    }

    & .text-align--right .why-choose--div {
      align-items: start;
      text-align: left;
    }
  }

  .section-contact--homepage .btn {
    display: block;
    text-align: center;
  }

  .contact-title {
    font-size: 2.4rem;
  }
  :is(.section-contact--homepage) .container:first-child {
    padding: 6.4rem 0rem 2.4rem 0rem;
  }
}

/***** End media queries Section *****/
